@import "tailwindcss";

@theme {
  --color-lemon-primary: #EBF222;
  --color-lemon-tertiary: #D4FF00;
  --color-lemon-bg: #0A0A0A;
  --color-lemon-bg-dark: #1F1F1F;
  --color-lemon-text: #F5F5F5;
}

@layer base {
  html, body {
    @apply h-full overflow-hidden;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
